h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 3.5rem;
  line-height: 1.5;
  font-weight: 900;
}

h2{
  font-size: 3rem;
  font-family: "Montserrat";
  font-weight: bold;
}

h3{
  text-align: center;
  font-size: 1.5rem;
  font-family: "Montserrat-Bold"
}

body{
  font-family: "Montserrat";
}



/* title */

#title{
  background-color: #ff4c68;
  color: white;
}

.container-fluid{
  padding:2% 15%;
}

.row{
  padding:2% 15%;
}

.download-button{
  margin:5% 3% 5% 0;
}

.image-title{
  width:22%;
  transform:rotate(25deg);
  position:absolute;
}


/* NavBar */

.navbar{
  padding:0 0 1.5rem;
}

.nav-item{
  padding:0 20px;
}

.nav-link{
  font-size:1.2rem;
  font-family: "Montserrat-light";
}
.navbar-brand{
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
  padding-right: 40%;

}

/* features */

#features{
  padding:7% 15%;
  background-color: white;
  position: relative;
  z-index: 1;
}

.xyz{
  text-align: center;
  color: #8f8f8f;
}

.icon{
  color: #ef8172;
}
.icon:hover{
  color:#ff4c68;
}

/* testimonials */

#testimonials{
  text-align: center;
  /* padding:7% 15%; */
  background-color: #ef8172;
  color: white;
}

.testimonial-text{
  color:white;
  font-size: 3rem;
  font-family: "Montserrat";
}

.carousel-item{
    padding:7% 15%;
}
.testimonial-image{
  width:10%;
  border-radius: 100%;
  margin:20px;
}


#press{
  text-align: center;
  background-color: #ef8172;
}

.img{
  width:10%;
  margin:20px 20px 50px;
}


#pricing{
  padding:100px;
}

.pricing-column{
  padding:20px;
  text-align: center;
}



@media(max-width: 1028px){
  #title{
    text-align:center;
  }
  .image-title{
    position: static;
    transform:rotate(0);
    width:60%;
  }
}

#cta{
  background-color: #ff4c68;
  font-family: "Montserrat";
  font-weight: bold;
  font-size: 3rem;
  text-align: center;
  color: white;
  padding:6% 14% 3%;
}

#footer{
  background-color: white;
  padding:3% ;
  text-align: center;
  font-size: 1rem;
  color: #8f8f8f;
}
